
:root {
  --fekete: white;
  --feher: 	gray;
  --piros: #880808;
}
nav {
	background-image: url("hatter.jpg");
	background-size: cover;
	font-family: "Inter", sans-serif;
	min-height:20px;
	text-align:center;
	height:40px;
	
	
	
	
	
	
}
body {
	
	
}
.dropdown-content img{
	opacity: 0.1;
	
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
	
	color:white;
}
  .ablak {
    position: relative;
    width: 100%; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
	border:none;
  }
 

  .ablak iframe {
    width: 80vw; 
    height: 60vh; 
    border: none; 
  }
.dropdown-content {
	
  text-align: left; 
  display: none;
  position: absolute;
  background-image: url("kep5.jfif");
  
 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  min-width: 80px;
  border: 1px solid white;
  padding: 12px 16px;
  z-index: 2;
  margin-left:15px;
  margin-top:15px;
  font-family: "Inter", sans-serif;
 
}

.dropdown-content a {
	background-color: rgba(0, 0, 0, 0.3);
  display: block; 
	border-top: 1px solid white;


	
	
}


.dropdown:hover .dropdown-content {
	 
	
  display: block;
 
}





.active {
  background: black;
  overflow: hidden;
}

.active:hover {
  color: #880808 !important;
}



hr {
    width: 80%;
    margin: 0 auto; 
}
nav a {
	
	
	font-size: 23px;
	padding: 14px 20px;
	color: var(--feher);
	text-decoration:none;
	
	
}

nav a:hover {
	
	color:var(--fekete)!important;
	transition:0.5s;
	background-color:var(--feher);
	
	
}
.kep{
	
			float: left;
	        display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
			width:100%;
			height:auto;
}

:root {
    --titleDefault: rgba(0,0,0,0.3);
    --titleHover: rgba(0,0,0,0.5);
}

body {
    font-family: "Poppins", sans-serif;
	
    
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    
    color: black;
    font-size: 18px;
	
}
.bemutato{
	
	
	color: white;
	text-align:center;
}

h1 {
    font-size: 40px;
	
	background-color:black;
	text-align:center;
}

footer {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    font-size: 13px;
    text-align: center;
	color:gray;
}

.footer-span {
    padding: 10px;
}


img {
    width: 100%;
}


.hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
	margin-top:30px!important;
	
}

.project-title {
    font-weight: 700;
    text-transform: uppercase;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  

.hero-image {
   
    height: 50%;
    background-position: calc(50%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 150px;
}

.gallery img {
    width: 100%;
    margin-bottom: 15px;
}

.img-container {
    position: relative;
    max-width: 300px;
}


.title {
	
    display: block;
    position: absolute;
    top: 82%;
    left: 50%;
	color: gray;
	max-width:100%;
    overflow:hidden;
    font-size: calc(70%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 27%;
    background-color: var(--titleDefault);
    text-align: center;
}

.title p {
    display: flex;
    justify-content: center;
    padding: 3%;
}


.img-container:hover .title {
    background-color: var(--titleHover);
    transition: all 0.1s ease; 

}
body {
	background-color:black;
	
}


/* MOBIL */

@media screen and (max-width: 770px) {.project-title {font-size: 35px;}nav{
		
		min-height:55px;
	}}

@media screen and (max-width: 700px) {

    .project-title {font-size: 30px;}
    
    .title:hover {
        background-color: var(--titleHover);
        height: 50%;
        transition: all 0.5s ease;
    }
	nav{
		
		min-height:55px;
	}

}
@media only screen and (max-width: 600px) {
    nav {
        position: relative;
		min-height:220px;
    }
    
  

    nav  a {
		 flex-wrap: wrap;
		 
		
		padding: 3px;      
        
       display: block; 
       
    }
	
	.dropdown-content{
		margin-top:0px;
		text-align:center;
		margin-left:-134px;
		min-width:400px;
		
	}
	.dropdown-content a {
		border-top:1px solid gray;
		
	}

    
}

@media screen and (max-width: 574px) {.project-title {font-size: 25px;}}

@media screen and (max-width: 480px) {

    .project-title {font-size: 20px;}

    .gallery {
        margin-top:50px; 
        width: 100%;
        padding-left: calc(5%);
        padding-right: calc(5%);
    }

}

*{
	
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
	
}



body{
  font-size: 18px;
}

/* Kis tablet és nagyobb */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    
	.bemutato {
		
		overflow:hidden;
	}
	nav {
        position: relative;
		min-height:220px;
    }
    
  

    nav  a {
		 flex-wrap: wrap;
		 
		
		padding: 3px;      
        
       display: block; 
        margin-bottom: 3px; 
		
    }
	
	.dropdown-content{
		margin-top:0px;
		text-align:center;
		margin-left:-134px;
		min-width:400px;
		
	}
	.dropdown-content a {
		border-top:1px solid gray;
		
	}
}

/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
     nav {
        position: relative;
		min-height:220px;
    }
    
  

    nav  a {
		 flex-wrap: wrap;
		 
		
		padding: 3px;      
        
       display: block; 
        margin-bottom: 3px; 
		
    }
	
	.dropdown-content{
		margin-top:0px;
		text-align:center;
		margin-left:-134px;
		min-width:400px;
		
	}
	.dropdown-content a {
		border-top:1px solid gray;
		
	}
}

/* Kis laptop és nagyobb */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
	    nav {
        position: relative;
		min-height:220px;
    }
    
  

    nav  a {
		 flex-wrap: wrap;
		 
		
		padding: 3px;      
        
       display: block; 
        margin-bottom: 3px; 
		
    }
	
	.dropdown-content{
		margin-top:0px;
		text-align:center;
		margin-left:-134px;
		min-width:400px;
		
	}
	.dropdown-content a {
		border-top:1px solid gray;
		
	}
  
}

/* a preloader css e*/



